body
{
    background-size: cover;
}
.note
{
    font-size:15px;
    color:cadetblue;
}
.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
}
.speed
{
    float:left;
}
.volume
{
    float:right;
}
.speed_img
{
    width:200px;
    border-radius:100px;
}
.volume_img
{
    width:200px;
    border-radius:100px;
}
#speed_btn
{
    font-size:23px;
    margin: 15px;
}
#volume_btn
{
    font-size:23px;
    margin:15px;
}
.play_btn
{
    width:130px;
    font-size:25px;
}
canvas
{
    border: 5px solid white;
    border-radius:20px;
    margin-top:100px;
}